header {
  width: 100%;
  height: calc(100vh - 12rem);
  background: url("../img/LP_top_pre.png") center;
  background-size: cover;
}
@media (max-width:$breakpoint){
  header {
    //height: auto; TODO after img
    height: 40vh;
  }
}
