@media (min-width:$breakpoint + 1px) {
  .main {
    width: 80%;
    padding: 2rem 10% 0;
    $space-size: 4rem;
    &__h1 {
      margin-bottom: $space-size/2;
      font-size: 3.5rem;
      &__small {
        font-size: 2rem;
      }
    }
    &__border {
      margin: $space-size/2 0;
    }

    &__h2 {
      margin: $space-size auto;
      width: 70%;
      font-size: 1.8rem;
      padding: 1rem;
      border-radius: 1.5rem/50%;
    }
    &__content-wrap {
      font-size: 1.5rem;
      &__item {
        &--2 {
          margin: 1rem;
          width: 50%;
        }
        &--3 {
          margin: 1rem;
          width: calc(100% / 3 - 2rem);
        }
      }
    }
    &__arrow {
      margin: $space-size auto;
    }
    &__func-description-area {
      padding: 5rem $space-size $space-size;
      &__wrap {
        justify-content: space-between;
        margin-bottom: 2rem;
        &:nth-child(2n) {
          flex-direction: row-reverse;
        }
        &__text {
          &__h3 {
            font-size: 1.5rem;
          }
        }
        &__img:nth-child(2n) {
        }
        &:nth-child(2n) &__img {
          &::before {
            left: -15%;
            content: url("../img/pi_l.svg");
          }
        }
      }
    }
    &__dl-area {
      margin: $space-size 0;
    }
  }
}
