.main {
  font-family: 'Rounded Mplus 1c', Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  background: $color-white-bg;
  box-sizing: border-box;
  max-width: 1200px;
  margin: auto;
  &__h1 {
    font-weight: bold;
    white-space: nowrap;
  }
  &__border {
    border-bottom: solid 4px;
    width: 100%;
    display: block;
  }

  &__h2 {
    text-align: center;
    display: block;
    background: $color-primary;
    transition: all 0.5s;
    transform: translateY(-3rem);
  }
  &__content-wrap {
    display: flex;
    text-align: center;
    &__item {
      &--2 {
        opacity: 0;
        transition: all 0.5s;
        transform: translateY(-20vh);
      }
      &--3 {
      }
      &__img {
        width: 100%;
      }
    }
  }
  &__arrow {
    display: block;
    width: 50%;
    margin: 2rem auto;
  }
  &__func-description-area {
    background: $color-bg;
    border-radius: 2rem;
    &__wrap {
      display: flex;
      align-items: center;
      &__text {
        flex: 1 1;
        &__point {
          display: inline-block;
          padding: .5rem;
          border-radius: 2rem;
          font-size: 1.2rem;
          color: #fff;
          background: $color-primary;
          margin-bottom: 1rem;
        }
        &__h3 {
          margin-bottom: 2rem;
        }
      }
      &__img {
        flex: 1 1;
        height: 50%;
        position: relative;
        margin: 1rem;
        &::before {
          position: absolute;
          display: block;
          width: 20%;
          height: auto;
          top: -10%;
          right: -10%;
          content: url("../img/pi_r.svg");
        }
        &__main {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &__dl-area {
    font-size: 2rem;
    font-weight: bold;
    &__banner {
      margin: auto;
      max-width: 400px;
      &__img:hover {
        cursor: pointer;
        transform: scale(1.2, 1.2);
      }
    }
  }
}

