.align-center {
  text-align: center;
}
.side-border__container {
  display: flex;
  text-align: center;
  align-items: center;
}
.side-border__text {
  flex: 3;
  padding: 0 2rem;
}
.side-border__border {
  flex: 1;
  display: block;
  border-bottom: solid 4px;
}
@media (max-width:$breakpoint){
  .side-border__text {
    flex: 5;
    padding: 0 .5rem;
  }
}

@keyframes animation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}
.animation1 {
  &:hover {
    animation-duration: .2s;
    animation-name: animation1;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
  }
}
@keyframes animation2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2rem);
  }
}
.animation2 {
  &:hover {
    animation-duration: .2s;
    animation-name: animation2;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
  }
}
@keyframes animation3 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2rem);
  }
}
.animation3 {
  &:hover {
    animation-duration: .2s;
    animation-name: animation3;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
  }
}