.align-center {
  text-align: center;
}
.side-border__container {
  display: flex;
  text-align: center;
  align-items: center;
}
.side-border__text {
  flex: 3;
  padding: 0 2rem;
}
.side-border__border {
  flex: 1;
  display: block;
  border-bottom: solid 4px;
}
@media (max-width:$breakpoint){
  .side-border__text {
    flex: 5;
    padding: 0 .5rem;
  }
}

@keyframes animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2rem);
  }
}
.animation {
  transition: all 1s;
  opacity: 0;
  transform: translateY(20vh);
  &:hover {
    animation-duration: .2s;
    animation-name: animation;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
  }
}


.slide-in-item {
  transition: all .5s ease-in;
  transform: translateY(20vh);
  opacity: 0;
}
.slide-reverse {
  transition: all .5s ease-in;
  transform: translateY(-20vh);
  opacity: 0;
}
.main__func-description-area__wrap__text__point ,.main__func-description-area__wrap__text__h3,.main__func-description-area__wrap__text__description {
  transition: all .5s ease-in-out;
  opacity: 0;
  transform: translateY(-20vh);
}


