.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #fff;
  padding: 1rem;
  white-space: nowrap;
  flex-wrap: wrap;
  margin-top: 3rem;
  font-size: .7rem;
  &__credit {
    font-size: 1.2rem;
    &__title {
      font-size: 1.3rem;
      margin: .5rem;
    }
    &__body {
      margin-left: 10%;
    }
  }
}